<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jfarina.easypill">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.activity.controllers.LoginActivityController"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".login.activity.controllers.RegisterActivityController"
            android:label="@string/create_account"
            android:parentActivityName=".login.activity.controllers.LoginActivityController"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.activity.controllers.LoginActivityController" />
        </activity>
        <activity
            android:name=".HomePageActivityController"
            android:label="@string/navigation_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddMedicationActivityController"
            android:label="@string/navigation_add">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivityController" />
        </activity>

        <activity android:name=".MedicationHistoryActivityController"
            android:label="@string/medication_history_button">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivityController" />
        </activity>
    </application>

</manifest>